<template>
    <twitterList/>
</template>
<script>
import twitterList from '../../components/Twitter/TwitList'

export default {
    components: {
        twitterList,
    },
}
</script>
<style>

</style>