<template>
  <div>
    <div class="column">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <div>
              <strong>{{this.username}}</strong>
              <br />
              <div v-if="this.modifySwitch == false">{{this.content}}</div>
              <div v-else-if="this.modifySwitch == true && isAuthenticated">
                <textarea
                  class="textarea has-fixed-size"
                  placeholder="change!"
                  name="modify"
                  v-model="modifyContent"
                />
                <input
                  type="button"
                  class="button is-primary"
                  value="modifySubmit"
                  @click="modifySubmit"
                />
              </div>
            </div>
          </div>
          <div v-if="isAuthenticated">
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <font-awesome-icon icon="reply" @click="replyClick" />
                </a>

                <!-- <a class="level-item">
                  <font-awesome-icon icon="retweet" @click="retweetClick" />
                </a>-->

                <a class="level-item">
                  <font-awesome-icon icon="heart" @click="heartClick" />
                </a>
              </div>
            </nav>
          </div>
        </div>
        <div v-if="isAuthenticated">
          <div class="media-right" v-if="loggedInUser.username == this.username">
            <nav class="level is-mobile">
              <a class="level-item">
                <font-awesome-icon icon="trash-alt" @click="deleteClick" />
              </a>
              <a class="level-item">
                <font-awesome-icon icon="align-justify" @click="modifyClick" />
              </a>
            </nav>
          </div>
        </div>
      </article>
    </div>
    <div v-if="replySwitch && isAuthenticated">
      <Reply :id="this.id" />
    </div>
    <Notification :message="error" v-if="error" />
    <hr />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TwitDetail from "./component/TwitDetail";
import Reply from "./component/Reply";
import Notification from "../Notification";

export default {
  name: "timeline",
  props: ["timeline"],
  data() {
    return {
      id: this.timeline.id,
      content: this.timeline.content,
      username: this.timeline.userName,
      uploadTime: this.timeline.uploadTime,
      updateTime: this.timeline.updateTime,
      innerModifyContent: this.timeline.content,
      error: null,
      replySwitch: false,
      retwitSwitch: false,
      modifySwitch: false,
      reply: null
    };
  },
  components: {
    TwitDetail,
    Reply,
    Notification
  },
  computed: {
    ...mapGetters(["loggedInUser", "isAuthenticated"]),
    modifyContent: {
      get() {
        return this.innerModifyContent;
      },
      set(value) {
        this.innerModifyContent = value;
      }
    }
  },
  methods: {
    replyClick() {
      this.replySwitch = !this.replySwitch;
    },
    retweetClick() {
      //나중에
      console.log("retweetClick");
      this.retwitSwitch = !this.retwitSwitch;
    },
    heartClick() {
      console.log("heartClick");
    },
    async deleteClick() {
      try {
        await this.$axios
          .post("/deleteTimeline", {
            id: this.id
          })
          .then(obj => {
            this.$emit("remove");
          });
      } catch (obj) {
        this.error = "지울 수 없습니다 다시한번 확인 해 주세요";
      }
    },
    modifyClick() {
      this.modifySwitch = !this.modifySwitch;
    },

    async modifySubmit() {
      if (this.content === this.modifyContent) {
        this.modifyClick();
        return;
      }
      try {
        await this.$axios
          .post("/timeline", {
            id: this.timeline.id,
            content: this.modifyContent,
            userName: this.timeline.userName,
            uploadTime: this.timeline.uploadTime
          })
          .then(obj => {
            this.innerModifyContent = obj.data.content;
            this.content = obj.data.content;
            this.modifyClick();
            console.log(obj);
          });
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>