<template>
  <div class="columns is-mobile is-centered">
    <div class="column">
      <div v-if="isAuthenticated">
        <uploadTwit v-on:add="addTimeline" />
      </div>
      <div>
        <twit
          v-for="(timeline , index) in this.timelineList"
          :key="timeline.id"
          :timeline="timeline"
          v-on:remove="deleteTimeline(index)"
        />
        <footer>
          <div ref="infinityScrollTrigger" id="scrollTrigger" />
        </footer>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import axios from "axios";
import uploadTwit from "./UploadTwit";
import twit from "./twit";

export default {
  data() {
    return {
      timelineList: null,
      pageNumber: 0,
      totalPages: 0
    };
  },
  components: {
    uploadTwit,
    twit
  },
  computed: {
    ...mapGetters(["isAuthenticated"])
  },
  methods: {
    deleteTimeline(index) {
      this.timelineList.splice(index, 1);
    },
    addTimeline(timeline) {
      this.timelineList.unshift(timeline);
    },
    async getTwitter() {
      await this.$axios
        .get("/timeline", {
          params: {
            pageNumber: this.pageNumber
          }
        })
        .then(obj => {
          const pageable = obj.data.pageable;
          this.timelineList = obj.data.content;
          this.pageNumber = pageable.pageNumber;
          this.totalPages = obj.data.totalPages;
        });
    },
    async leadMore() {
      if (this.totalPages <= this.pageNumber) {
        return;
      }
      this.pageNumber++;
      await this.$axios
        .get("/timeline", {
          params: {
            pageNumber: this.pageNumber
          }
        })
        .then(obj => {
          this.timelineList = [...this.timelineList, ...obj.data.content];
        });
    },
    infinityScrollTrigger() {
      const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          if (0 < entry.intersectionRatio) {
            this.leadMore();
          }
        });
      });

      observer.observe(this.$refs.infinityScrollTrigger);
    }
  },
  mounted() {
    this.getTwitter();
    this.infinityScrollTrigger();
  }
};
// 무한 스크롤 시 페이지 번호를 서버로 전송
</script>