<template>
  <form @submit.prevent="twitterSubmit">
    <div class="columns">
      <div class="column is-11">
        <textarea
          class="textarea has-fixed-size"
          placeholder="Timeline"
          name="content"
          v-model="content"
        />
      </div>
      <div class="column">
        <input type="submit" class="button is-primary" value="Submit" />
      </div>
    </div>
    <Notification :message="error" v-if="error" />
  </form>
</template>
<script>
import { mapGetters } from "vuex";
import axios from "axios";
import Notification from "~/components/Notification";

export default {
  data() {
    return {
      content: "",
      error: null
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  components: {
    Notification
  },
  methods: {
    async twitterSubmit() {
      if (this.content == "") {
        this.error = "Please fill content";
      }
      const submitData = {
        content: this.content,
        userName: this.loggedInUser.username
      };

      try {
        await this.$axios.post("/timeline", submitData).then(obj => {
          console.log(obj);
          this.$emit("add", obj.data);
        });
      } catch (e) {
        this.error = e.response.data.message;
        return;
      }
      this.error = "";
      this.content = "";
    }
  }
};
</script>