<template>
  <section class="section">
    <div class="container">
      <Twitter/>
    </div>
  </section>
</template>

<script>
import Twitter from './Twitter/Twitter';

export default{
  components:{
    Twitter,
  },

}

</script>

<!-- 
https://www.digitalocean.com/community/tutorials/implementing-authentication-in-nuxtjs-app
https://qiita.com/itouuuuuuuuu/items/1dc6401022e0d771c757
 -->
