<template>
  <div class="columns" name="replyArea">
    <div class="column"></div>
    <div class="column is-10">
      <textarea
        class="textarea has-fixed-size"
        placeholder="reply"
        name="reply"
        v-model="reply"
      />
    </div>
    <div class="column">
      <input type="button" class="button is-primary" value="replySubmit" @click="replySubmit" />
    </div>
  </div>
</template>
<script>
export default {
  name: "reply",
  props: ["id"],
  data() {
    return {
      innerReply: '',
      tweetId: this.id
    };
  },
  computed:{
    reply:{
      get(){
        return this.innerReply
      },
      set(value){
        this.innerReply = value
      }
    }
  },
  methods: {
    replySubmit() {
      console.log("replySubmit");
    }
  }
};
</script>