<!-- TODO -->
<template>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</template>
<script>
export default {
  name: "timelineDetail",
  props: ["message"]
};
</script>